
<nav class="flex justify-between items-center p-2 bg-black">
  <div>John Conway</div>
  <div>
    <span class="text-xl text-white text-bold">Game Of Life</span>
  </div>
  <div>
    <button class="h-12 w-12 mr-2"><img src="../assets/iconmonstr-github-1.svg" alt="X_logo" srcset=""></button>
    <button class="h-8 w-8"><img src="../assets/X_logo_2023.svg.png" alt="X_logo" srcset=""></button>
  </div>
  
</nav>
<section class="flex justify-center items-center">
   <div>
     <div class="flex" *ngFor="let rows of board; let i = index">
       <div class="p-2 border border-gray-800" *ngFor="let cell of rows; let j = index" [ngClass]="{'active':cell}" (click)="onCellClick(i,j)">
         <button class="h-1 w-1" ></button>
       </div>
     </div>
     
     <div class="p-4">
      <button class="btn text-white bg-green-900" (click)="onStartClick()" [disabled]="isGameRunning">Start</button>
      <button class="btn text-white bg-red-600 ml-2" (click)="onPauseClick()" [disabled]="!isGameRunning">Pause</button>
      <button class="btn text-white bg-gray-400 ml-2" (click)="onResetClick()">Reset</button>
      <select class="p-2">
        <option> 20-10</option>
        <option>20-10</option>
      </select>
      <!-- <button class="btn" (click)="onNextGenerationClick()">Next Generation</button> -->
     </div>
    
   </div>
</section>